student_email: zudvadim@yandex.ru
postgres_cluster:
  hosts:
  - address: '${DB_ADDRESS}'
    port: 5432
  user: '${DB_USER}'
  password: '${DB_PASSWORD}'
  db_name: '${DB_NAME}'
  ssl_mode: disable
  use_closest_node: false
