defaults
  mode http
  balance roundrobin

frontend prometheus
   bind *:9090
   http-request use-service prometheus-exporter if { path /metrics }
   no log

frontend bingo
  bind :80
  default_backend bingo_servers

backend bingo_servers
  option httpchk GET /ping
  http-check expect status 200  
  %{~ for name, ip in servers ~}
  server ${name} ${ip}:80 check
  %{~ endfor ~}
